QuanLyHocSinh/Connected Services/QuanLyHocSinhService/BUS_HocSinh3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTO_HocSinh">
    <xs:sequence>
      <xs:element minOccurs="0" name="HoTen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaHS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QueQuan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tuoi" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTO_HocSinh" nillable="true" type="tns:DTO_HocSinh" />
</xs:schema>