QuanLyHocSinh/Connected Services/QuanLyHocSinhService/BUS_HocSinh.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Service/BUS_HocSinh.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DTO" />
  <xs:element name="LayDanhSachHocSinh">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachHocSinhResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LayDanhSachHocSinhResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemHocSinh">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="hs" nillable="true" type="q1:DTO_HocSinh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemHocSinhResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemHocSinhResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaHocSinh">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaHocSinhResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaHocSinhResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaHocSinh">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="hs" nillable="true" type="q2:DTO_HocSinh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaHocSinhResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaHocSinhResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>